body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color: aqua;
  height: 960px;
  width: 960px;
}

.square {
  background-color: black;
}

.changedSquare {
  background-color: red;
}